body {
    text-align: center;
    background-color: #ea5048;
		transition: background-color 7s;

}

h1 {
    font-family: Rancho;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
    font-family: Rancho;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;

}

input[type=number] {
    width: 6em;
}
button{
   background-color: transparent;
   cursor: pointer;
   border: none;
   width:20px;
   height:20px;

}
form{
  margin-top:30px;
  font-style: italic;
}
